:root {
    --dark-color: rgba(3, 47, 16, 0.609);
    --medium-color: rgba(8, 102, 38, 0.329);
    --light-color: rgba(16, 192, 16, 0.198);
    --text-color: rgb(124, 216, 101, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Merriweather', serif;
    font-size: 1.5rem;
    line-height: 1.7;
    padding: 2rem;
    color: var(--text-color);
}

.header {
    height: 95vh;
    background-image: linear-gradient(to bottom right, var(--medium-color), var(--light-color)), 
    url('../img/landscape3.jpg');
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0%, 100% 82%, 0 95%);
}

.logo-box {
    position: absolute;
    top: 5.5%;
    left: 2.5%;
}

.logo {
    height: 1.7rem;
}

.text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.heading-primary {
    text-transform: uppercase;
}

.heading-primary-main {
    display: block;
    font-size: 7rem;
    letter-spacing: 1.3rem;
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

.heading-primary-sub {
    display: block;
    font-size: 2.5rem;
    letter-spacing: 0.7rem;
    animation-name: moveInRight;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

.btn-container {
    text-align: center;
}

.btn {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)

    display: inline-block;
    font-size: 1.5rem;
    color: var(--text-color);
    text-decoration: none;
    line-height: 5.3;
}

.about {
    background-color: black;
    padding: 25rem 0;
    margin-top: -30vh;
}

.u-center-text {
    text-align: center;
}
.u-margin-bottom-big {
    margin-bottom: 8rem;
}
.u-margin-bottom-small {
    margin-bottom: 1.5rem;
}

.heading-secondary {
    font-size: 3.5rem;
    display: inline-block;
    text-transform: uppercase;
    color: transparent;
    background-image: linear-gradient(to right, var(--text-color), var(--dark-color));
    background-clip: text;
    letter-spacing: 0.2rem;
}
.heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0rem 0rem 2rem rgba(30, 255, 0, 0.3);
    transition: all 2s;
}

.row {
    max-width: 114rem;
    margin: 0 auto;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

.col-1-of-2 {
    float: left;
    width: 50%;
    padding: 1rem;
}

.heading-tertiary {
    font-size: 2rem;
    text-transform: uppercase;
}

.paragraph {
    font-size: 1.5rem;
}
.paragraph:not(:last-child) {
    margin-bottom: 3rem;
}

.btn-text:link, .btn-text:visited {
    font-size: 1.5rem;
    color: var(--text-color);
    display: inline-block;
    text-decoration: none;
    line-height: 1;
    border-bottom: 0.1rem solid var(--text-color);
    padding: 0.5rem;
    padding-bottom: 1rem;
    transition: all 0.2s;
}
.btn-text:hover {
    background-color: var(--dark-color);
    color: white;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
}
.btn-text:active {
    transform: translateY(0);
}

@keyframes moveInRight {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    60% {
        transform: translateX(-30px);
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes moveInLeft {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    60% {
        transform: translateX(30px);
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}









